* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgb(184, 94, 94) 50%, rgb(51, 20, 190) 100%);
}

#cabecalho{
    background: silver;
    text-align: center;
    height: 100px;
}

#cabecalho a:hover{
    text-decoration: line-through;
    background-color: black;
    color: white;
}
#titulo{
    padding: 15px;
}
#links{
    padding-bottom: 10px;
}


#corpo{
    width: 700px;
    margin: 20px auto;
    border: 1px solid blue;
}

#noticias1{
    border: 1px solid red;
    float: left;
    width: 350px;
}

#noticias2{
    border: 1px solid blue;
    float: right;
    width: 250px;
}
#clean{
    clear: both;
}
