body{
  margin: 0px;
  display: grid;
  justify-items: center;
}

.container{
  display: grid;
  grid-template-columns: 400px 400px;
  /* align-items: center; */
}

img{
  max-width: 100%;
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  padding: 20px 0px;
}
.menu {
  display: flex;
  gap: 20px;
  justify-self: end;
  align-self: center;
}

.logo{
  justify-self: start;
}

section{
  grid-column: span 2;
  justify-self: center;
}

footer{
  grid-column: 2 span;
  text-align: center;
}